#forecast {
  display: flex;
flex-wrap: wrap;
align-items: stretch;
align-content: stretch;
}

.forecast {
  background-color:#4760ff;
  padding: .5rem;
  margin: .5rem;
  color: #ffffff;
  flex: 1 1 auto;
}
#currentWeather > div{
  padding: 1rem;
  margin-bottom: 1rem;
}